{% extends 'root.html' %}


{% block title %}
    Dashboard -
{% endblock %}

{% block body %}
    <div class="container d-flex flex-row-reverse mt-3">
        <a class="btn btn-danger ms-3" href="{{ url_for('logout') }}"> Logout </a>
        <a class="btn btn-primary" href="{{ url_for('editprofile') }}"> Edit Profile </a>
        <a class="btn btn-primary" href="{{ url_for('demoDB') }}"> Database </a>
        <a class="btn btn-primary" href="{{ url_for('index') }}"> Home </a>
    </div>

    <!--Personal Data Sheet-->
    <div class="personal_information">
        <div class="container">
            <div class="personal_details">
                <div class="p_heading">
                    <h1>PERSONAL DATA SHEET</h1>
                </div>
                <div class="personal_img">
                    <img src="{{ image_file }}" alt="personal image">
                </div>
                <div class="details">

                    <table class="table table-bordered table-hover">
                        <tbody>
                            <tr>
                                <th scope="row">NAME</th>
                                <td class="text-capitalize">{{ current_user.name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">PHONE</th>
                                <td><a href="tel:{{current_user.mobile}}">+880{{current_user.mobile}}</a></td>
                            </tr>
                            <tr>
                                <th scope="row">BLOOD GROUP</th>
                                <td class="uppercase">{{ current_user.bloodgroup }}</td>
                            </tr>
                            <tr>
                                <th scope="row">ADDRESS</th>
                                <td><b>UPZALIA:</b> {{current_user.upazila}}, <b>DISTRICT:</b> {{current_user.district}}, <b>DIVISION:</b> {{current_user.division}}</td>
                            </tr>
                            <tr>
                                <th scope="row">LAST DATE OF BLOOD DONATION</th>
                                <td>{{ current_user.lastdate.strftime('%d-%m-%Y') }}</td>
                            </tr>
                            <tr>
                                <th scope="row">HOW MANY TIMES HAVE I GIVEN BLOOD</th>
                                <td>{{ current_user.numberofdonation }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--jquery js-->
    <script src="{{ url_for('static', filename='js/jquery_filtering.js') }}"></script>
    <!--bootstrap js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!--custom js-->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% endblock %}
