{% extends 'root.html' %}


{% block body %}

    <!--Personal Data Sheet-->

    <div class="personal_information">
        <div class="container">

            <div class="personal_details">
               <div class="p_heading">
                   <h1>PERSONAL DATA SHEET</h1>
               </div>
                <div class="personal_img">
                    <img src="assets/images/Personal/adesh.jpg" alt="">
                </div>
                <div class="details">
                    <table class="table table-bordered table-hover">

                        <tbody>
                            <tr>
                                <th scope="row">NAME</th>
                                <td>ADESH CHANDRO SARKER</td>

                            </tr>
                            <tr>
                                <th scope="row">PHONE</th>
                                <td><a href="tel:01610121441">+8801610121441</a></td>
                            </tr>
                            <tr>
                                <th scope="row">BLOOD GROUP</th>
                                <td>B+</td>
                            </tr>
                            <tr>
                                <th scope="row">ADDRESS</th>
                                <td>UPZALIA: SAIDPUR, DISTRICT: NILPHAMARI, DIVISION:RANPUR</td>
                            </tr>
                            <tr>
                                <th scope="row">LAST DATE OF BLOOD DONATION</th>
                                <td>28-06-2021</td>
                            </tr>
                                                        <tr>
                                <th scope="row">HOW MANY TIMES HAVE I GIVEN BLOOD</th>
                                <td>1st</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>



    <!--jquery js-->
    <script src="assets/js/jquery_filtering.js"></script>
    <!--bootstrap js-->
    <script src="assets/js/bootstrap.min.js"></script>
    <!--custom js-->
    <script src="assets/js/custom.js"></script>

{% endblock %}